* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Josefin Sans', sans-serif;
}

:root {
    --purple: hsl(259, 100%, 65%);
    --white: #ffffff;
    --light-grey: hsl(0, 0%, 98%);
    --lgrayish-blue: hsl(236, 33%, 92%);
    --vlight-grayish-blue: hsl(233, 11%, 84%);
    --dark-grayish-blue: hsl(236, 9%, 61%);
    --vdark-grayish-blue: hsl(235, 19%, 35%);
}

.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: var(--purple);
}

body{
    background-color: var(--light-grey);
    background-image: url("/images/bg-desktop-light.jpg");
    /* width: 100%; */
    background-repeat: no-repeat;
}

/* .targetToggle {
        background-color: var(--light-grey);
        background-image: url("/images/bg-desktop-dark.jpg");
        background-repeat: no-repeat;
        width: 100%;
    } */

.Container {
    display: flex;
    flex-direction: row;
    padding: 5rem 8rem 3rem 8rem;
    justify-content: space-evenly;
    font-size: 45px;
    align-items: center;
    position: relative;
    /* margin-top: -100px; */

}

.Container h3 {
    letter-spacing: 8px;
    color: var(--light-grey)
}

.Iconmoon {
    display: block;
    margin-bottom: 15px;
    margin-left: -40px;
}

.formContainer {
    width: 32rem;
    background-color: var(--white);
    border-radius: 0.2rem;
    position: relative;
    height: 4rem;
    margin-left: 29rem;
    box-shadow: 0 4px 8px 0 rgba(255, 255, 255, 0.2), 0 6px 20px 0 rgba(0, 255, 255, 0.2);
}


#fname {
    font-size: 20px;
    border: none;
}

#newtask input {
    outline: none;
    background-color: var(--white);
}

.mainContainer button {
    border-radius: 50%;
    border: 1px solid var(--lgrayish-blue);
    width: 25px;
    height: 25px;
    margin: -0.25rem 1.3rem 0 0;
    background-color: var(--white);
}

.mainContainer .formGroup {
    display: flex;
    align-items: center;
    /* justify-content: center; */
    padding: 1.3rem 0 0 0.8rem;
}

#tasks {
    border-radius: 10px;
    width: 32rem;
    background-color: var(--white);
    border-radius: 0.2rem;
    position: relative;
    height: 28rem;
    padding: 0 20px;
    margin: 1.3rem 29rem;
    box-shadow: 0 4px 8px 0 rgba(255, 255, 255, 0.2), 0 6px 20px 0 rgba(255, 255, 255, 0.19);
}

.tasksDiv{
    color: var(--vlight-grayish-blue);
    align-items: flex-start;
    display: flex;
    justify-content: space-evenly;
    position: relative;
    padding-top: 1rem;
}

.tasksDiv p:hover {
    color: var(--vdark-grayish-blue);
}

.clear{
    color: var(--vlight-grayish-blue);
    display: flex;
    justify-content: space-between;
    position: relative;
    padding-top: 20rem;
}

.clear p:hover {
    color: var(--vdark-grayish-blue);
}

@media (max-width: 600px) {
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    body {
        background-color: var(--light-grey);
        background-image: url("/images/bg-mobile-light.jpg");
        background-repeat: no-repeat;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .Container {
        /* display: flex;
        flex-direction: row;
        align-items: center; */
        padding-top: 45px;
        padding-left: 195px;
        padding-bottom: 45px;
        font-size: 25px;
        justify-content: center;
        position: relative;
    }

    .Iconmoon {
        width: 20px; 
        margin: -4px 0 0 180px;
    }

    #newtask{
    width: 25rem;
    background-color: var(--white);
    border-radius: 0.5rem;
    height: 4rem;
    /* box-shadow: 0 4px 8px 0 rgba(0, 255, 255, 0.2), 0 6px 20px 0 rgba(0, 255, 255, 0.2); */
}

.mainContainer .formGroup {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1.3rem 0 0 4rem;
    width: 25rem;
    margin-right: 20px;
}

#fname {
    font-size: 20px;
    border: none;
}

.attribution {
    /* font-size: 11px; */
    text-align: center;
    padding-top: 30px;
    padding-right: 40px;
}

}