* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Josefin Sans', sans-serif;
}

:root {
    --purple: hsl(259, 100%, 65%);
    /* --light-red: hsl(0, 100%, 67%); */
    --light-grey: hsl(0, 0%, 98%);
    --lgrayish-blue: hsl(236, 33%, 92%);
    --vlight-grayish-blus: hsl(233, 11%, 84%);
    --dark-grayish-blue: hsl(236, 9%, 61%);
    --vdark-grayish-blue: hsl(235, 19%, 35%);
}

.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: var(--purple);
}

.Container {
    display: flex;
    flex-direction: row;
    padding: 5rem 8rem 5rem 8rem;
    justify-content: space-evenly;
    font-size: 45px;
    align-items: center;
    position: relative;
    /* margin-top: -100px; */

}

.Container h3 {
    letter-spacing: 8px;
    color: var(--light-grey);
    /* padding-left: 70px; */
}

.Iconmoon{
    display: block;
    margin-bottom: 15px;
    margin-left:-40px;
}